:root {
  --blue: #1053ff;
}

.calendar {
  width: 220px;
}

.calendar__header {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 8px;
}

.calendar__title {
  flex: 1;
  margin: 0;
}

.calendar table {
  width: 100%;
}

.cell {
  cursor: default;
  text-align: center;
}

.selected {
  background: var(--blue);
  color: white;
}

.unavailable {
  color: var(--spectrum-global-color-red-600);
}

.disabled {
  color: gray;
}
