.App {
  font-family: sans-serif;
  display: flex;
  gap: 3rem;
  padding: 3rem;
}

.poc-picker {
  flex: 1 1 auto;
}

.poc-settings {
  flex: 0 0 16rem;
  background: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 0.25rem;
  padding: 1rem;
}

.poc-settings__title {
  line-height: 1.3rem;
  margin: 0.5rem 0 2rem;
}

.poc-divider {
  margin: 1.5rem 0;
  border: 0;
  border-bottom: 1px solid #dcdcdc;
}

.poc-code {
  background: #f2f2f2;
  padding: 0.25rem 1rem;
  margin-top: 1.5rem;
}

.poc-info dt {
  color: grey;
}

.poc-info dd {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.poc-select {
  border-color: #e9e9e9;
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
}
